<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.touchin.template">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="ru.touchin.template.TemplateApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="TemplateApplication"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="false"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name="ru.touchin.template.activities.StartupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

    </application>

</manifest>
